.button-with-icon {
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 32px;
}

.button-delete-with-icon {
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 26px;
}

.button-normal {
	-fx-background-color: #E9E9E9;
}

.button-red {
	-fx-background-color: #F36F63;
}

.trash {
	-fx-background-image: url('../artefacts/trash.png');
}

.rook {
	-fx-background-image: url('../artefacts/rook.png');
}

.pawn {
	-fx-background-image: url('../artefacts/pawn.png');
}

.queen {
	-fx-background-image: url('../artefacts/queen.png');
}

.king {
	-fx-background-image: url('../artefacts/king.png');
}

.bishop {
	-fx-background-image: url('../artefacts/bishop.png');
}

.knight {
	-fx-background-image: url('../artefacts/knight.png');
}