.no-focus {
    -jfx-disable-visual-focus: true;
}

.button-with-icon {
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 32px;
}

.button-delete-with-icon {
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 26px;
}

.button-normal {
	-fx-background-color: #E9E9E9;
}

.button-close {
	-fx-background-color: #E9E9E9;
}
.button-close:hover {
	-fx-background-color: #F36F63;
	-fx-text-fill:white;
}

.button-red {
	-fx-background-color: #F36F63;
}

.trash {
	-fx-background-image: url('../artefacts/trash.png');
}

.rook {
	-fx-background-image: url('../artefacts/rook.png');
}

.pawn {
	-fx-background-image: url('../artefacts/pawn.png');
}

.queen {
	-fx-background-image: url('../artefacts/queen.png');
}

.king {
	-fx-background-image: url('../artefacts/king.png');
}

.bishop {
	-fx-background-image: url('../artefacts/bishop.png');
}

.knight {
	-fx-background-image: url('../artefacts/knight.png');
}

.chess {
	-fx-background-image: url('../artefacts/chess.png');
}

.checkMate {
	-fx-background-image: url('../artefacts/checkMate.png');
	-fx-background-size: 28px;
}

.lock {
	-fx-background-image: url('../artefacts/lock.png');
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
}

.unlock {
	-fx-background-image: url('../artefacts/unlock.png');
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
}


.lang-us {
	-fx-background-image: url('../artefacts/flag_us.png');
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
}

.lang-fr {
	-fx-background-image: url('../artefacts/flag_fr.png');
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
    }
